.button {
    border: 2px solid white;
    font: 1.1429rem/1rem 'NeueMachine', sans-serif;
    background: none;
    box-shadow: none;
    color: #fff;
    padding: 1.4286rem 1.7857rem 1.1429rem;
    transition: all .2s ease-in-out;
    cursor: pointer;

    &:hover{
        background-color: #fff;
        color: #000;
    }
}