.socialNetworks {
  display: flex;
  gap: 3vw;

  &Item {
  }

  &Link {
    color: #fff;
    text-indent: 1234rem;
    display: inline-block;
    width: 1.8rem;
    height: 1.7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;

    &:hover,
    &:visited {
      color: #fff;
    }
  }
  &Discord {
    background-image: url("./images//discord.svg");
    background-size: 90% auto;
  }
  &Twitter {
    background-image: url("./images//twitter.svg");
    background-size: 90% auto;
  }
  &AntDesign {
    background-image: url("./images//ant-design.svg");
  }
}
